#nav{
  padding-left: 520px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&family=Raleway:wght@400;500&display=swap');



body{
    
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
    font-family: 'DM Serif Text', serif;
    font-family: 'Raleway', sans-serif;
}

#sect{
  display: inline-flex;
  justify-content: center;
  width: 90%;
}

#boxes{
  height: 300px;
  background-color: white;
  width: 250px;
  color: black;
  margin-left: 60px;
  margin-top: 20px;
  border-radius: 20px ;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);
}

.box{
  width: 80%;
  background-color: white;
  height: 130px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  border-radius: 10px;
  padding-top: 45px;
  
}

.boxes p {
  padding-top: 2px;
  margin-left: 45px;
  font-weight: light;
  font-size: small;
  letter-spacing: 1.5px;
  color: grey;
}

.boxes p span{
  font-size: x-large;
  font-weight: bolder;
  color: black;
}

.boxes a{
  margin-left: 60px;
  background-color: white;
  font-weight: bolder;
  color: black;
}

#red{
  background-color: #fa5757;
  border: 1px solid #fa5757;
  border-radius: 5px;
  color: white;
  width: 90px;
  padding: 5px;
  margin-top: 2px;
  box-shadow:0px 0px 0px 2px rgb(248, 244, 244);
}

#nav{
  font-size: small;
  margin-left: 50px;
  margin-top: 5px;
  font-weight: bold;
  padding-right: 20px;
}

.acc{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#class{
  width: 50%;
  max-width: 80rem;
  padding: 0 1.5rem;
  margin-top: 5px;
}

.accordion-item{
  padding: 10px;
  border: 1px solid black;
}

.accordion-link{
  font-size: 15px;
  color: black;
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 1px 0;
  text-decoration: none;
  font-weight: bold;
}

.accordion-link i{
  color: black;
  padding: .5rem;

}

.accordion-link .ion-md-remove{
  display: none;
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: white;
  transition: max-height 650ms;

}

.answer::before{
  content: "";
  position: absolute;
  width: 6rem;                                                  
  height: 90%;
}

.answer.p{
  font-size: 5px;
  color: gray;
  padding: 2rem;
}
.accordion-item:target .answer{
  max-height: 10rem;
}

.accordion-item:target .accordion-link .ion-md-add{
  display: none;
}

.accordion-item:target .accordion-link .ion-md-remove{
  display: block;
}

#more{
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 45%;
}

.contact{
  background-color: #5368df;
  margin-top: 25px;
  text-align: center;
  height: 350px;
  padding: 55px;
  color: white;
}

.contact h5{
  font-weight: bold;
  padding-bottom: 15px;
}

.contact h3{
  font-weight: bold;
  font-size: 25pt;
  padding-bottom: 20px;
}

#email{
  width: 300px;
  color: grey;
  height: 50px;
}

#us{
  background-color: #fa5757;
  color: white;
  border: #fa5757 1px solid;
  height: 50px;
}

#footer{
  background-color: #252B46;
  padding: 30px 0px;
  width: 100%;
}


#faceb{
  margin-left: 500px;
}
#ext{
  background-color: #5368df;
  color: white;
  border: #5368df 1px solid;
}